body {
  font-family: sans-serif;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 16pt;
}
.days {
  display: flex;
  padding-left: 3em;
}
.chart .search {
  margin: auto;
  text-align: center;
  height: 40px; 
}
.chart .search button {
  margin: 0px 0px 0px 4px;
  padding: 0px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.chart .search input {
  margin: 0px 0px 0px 4px;
  padding: 0px;
  height: 26px;
}
.day {
  width: 12.5%;
  min-width: 120px;
  /*
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  */
}
.day:first-child{
  /* border-left: 1px solid #333; */
}

.day .summary {
  height: 200px;
  font-size: 10pt;
  text-align: center;
}
.day .summary p {
  margin: 5px;
}
.summary h3 {
  font-size: 12pt;
  margin-top: 4px;
  margin-bottom: 4px;
}
.summary ul {
  margin-top: 4px;
  font-size: 10pt;
  list-style: none;
  padding-left: 0px;
}
.summary .temp {
  margin-left: 0px;
}
.maxtemp {
  color: red;
}
.mintemp {
  color: blue;
}
.summary .weather {
  font-size: 32pt;
  margin: 0px;
}
svg {
  cursor: pointer;
}
svg.lower_chart {
  margin-top: 30px;
}

#sources {
  clear: both;
  text-align: center;
  margin: 15px;
  font-size: 8pt;
}