body {
  font-family: sans-serif;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 16pt;
}
.days {
  display: flex;
  padding-left: 30px;
}
.chart .search {
  margin: auto;
  text-align: center;
  height: 40px; 
}
.chart .search button {
  margin: 0px 0px 0px 4px;
  padding: 0px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
}
.chart .search input {
  margin: 0px 0px 0px 4px;
  padding: 0px;
  height: 26px;
  width: 300px;
}
.day {
  width: 12.5%;
  min-width: 120px;
  position: relative;
  /*
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  */
}
.day:first-child{
  /* border-left: 1px solid #333; */
}

.day .summary {
  height: 180px;
  font-size: 10pt;
  text-align: center;
}
.day .summary p {
  margin: 5px;
}
.summary h3 {
  font-size: 12pt;
  margin-top: 4px;
  margin-bottom: 4px;
}
.summary ul {
  margin-top: 4px;
  font-size: 10pt;
  list-style: none;
  padding-left: 0px;
}
.summary .temp {
  margin-left: 0px;
}
.maxtemp {
  color: red;
}
.mintemp {
  color: blue;
}
.summary .weather {
  font-size: 32pt;
  margin: 0px;
}
svg {
  cursor: crosshair;
}

#sources {
  clear: both;
  text-align: center;
  margin: 15px;
  font-size: 8pt;
}
.day .time_cursor {
  position: relative;
  height: 25px;
}
.day .time_cursor div {
  position: absolute;
  font-size: 11px;
}
.legend {
  height: 30px;
  text-align: right;
  font-size: 11px;
}
.legend .metric_color {
  display: block;
  float: right;
  border: 1px solid black;
  width: 30px;
  height: 9px;
  margin-left: 4px;
}
.station_detail {
  font-size: 11px;
  margin: 0px auto 15px auto;
  text-align: center;
}
.station_detail button {
  font-size: 10px;
}

.yaxis {
  position: absolute;
  font-size: 10px;
}
.yaxis.left{
  left: -35px;
}
.weather_cursor {
  height: 20px;
  position: relative;
}
.weather_cursor div {
  font-size: 11px;
  color: #333;
  position: absolute;
  width: 150px;
  font-style: italic;
}
